:root{
    --background: #000000;
    --white: #fff;
    --text-gradient-bg: rgb(255,255,255);
    --text-gradient-1: linear-gradient(
        90deg,
        rgba(255,255,255,1) 0%,
        rgba(255,0,0,1) 35%,
        rgba(34,0,255,1) 100%
        );
    --btn-bg: #2f80ed;   
    --bg-blob: rgba(245, 8, 174, 0.486);  
} 