:root{
    --background: #000;
    --white: #fff;
    --text-gradient-bg: rgb(255,255,255);
    --text-gradient-1: linear-gradient(
        90deg,
        rgb(138, 2, 250) 0%,                
        rgb(227, 240, 182) 35%,
        rgb(158, 0, 0) 100%
        );
    --btn-bg: #9e0303;   
    --bg-blob: rgba(245, 8, 8, 0.486);  
    --card-border: #282525;
} 